# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/html-report
# Ignore everything in React Apps                                                                                                                
/React Apps/*

# misc
.DS_Store
.env.test
.env
.gemini

npm-debug.log*
yarn-debug.log*
yarn-error.log*
